#container {
  background-color: rgb(138, 138, 143);
  padding: 20px 0;
  margin: 20px 50px;
}

#addProject {
  margin: 20px;

  width: 300px;
  height: 200px;
  background-color: transparent;
  box-shadow: none;
  box-shadow: 0 0 2px #504f4f;
  color: #454645;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
}

#addProject:hover {
  border: 2px solid rgb(116, 114, 114); /* Change the border to black on hover */
  box-shadow: 0 0 5px #777; /* Add a shadow on hover */
}
